* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.sm-container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Poppins', sans-serif;
}

.btn {
  width: 170px;
  height: 60px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.btn--primary {
  background-color: #2500f9;
}

.btn--primary:hover {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #1d00c6;
}

@media (max-width: 992px) {
  .btn--primary {
    width: 140px;
    height: 40px;
  }
}

@media (max-width: 801px) {
  .btn--primary__header {
    display: none;
  }
}

.bg {
  background-image: url(/img/bgimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
}

@media (max-width: 1041px) {
  .bg {
    height: auto;
  }
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 90px;
}

@media (max-width: 769px) {
  .header__container {
    padding-top: 50px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #fcae61;
}

.logo__name {
  color: #242f51;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-right: 30px;
}

.nav__item:last-child {
  margin-right: 50px;
}

@media (max-width: 801px) {
  .nav__item:last-child {
    margin-right: 0;
  }
}

.nav__link {
  color: #242f51;
  cursor: pointer;
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
}

.hero__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.hero-left__title {
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #242f51;
  margin: 0;
  padding: 40px 0;
}

@media (max-width: 1041px) {
  .hero-left__title {
    font-size: 40px;
  }
}

@media (max-width: 801px) {
  .hero-left__title {
    font-size: 30px;
  }
}

@media (max-width: 769px) {
  .hero-left__title {
    font-size: 26px;
    line-height: 40px;
    padding: 20px 0;
  }
}

.hero-left__text {
  font-family: Poppins;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #616368;
  margin: 0;
  padding-bottom: 40px;
}

@media (max-width: 1041px) {
  .hero-left__text {
    font-size: 16px;
  }
}

.hero-left__rewards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 362px;
  height: 35px;
  background-color: #e2eaed;
  -webkit-border-radius: 17.5px;
          border-radius: 17.5px;
}

@media (max-width: 801px) {
  .hero-left__rewards {
    width: 300px;
  }
}

@media (max-width: 769px) {
  .hero-left__rewards {
    width: 260px;
  }
}

.hero-left__rewards--title {
  margin: 0;
  position: absolute;
  top: 5px;
  left: 50px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #242f51;
}

@media (max-width: 801px) {
  .hero-left__rewards--title {
    font-size: 16px;
  }
}

@media (max-width: 769px) {
  .hero-left__rewards--title {
    left: 40px;
    font-size: 14px;
  }
}

.hero-left__rewards span {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 35px;
  background-color: #feaa25;
  -webkit-border-radius: 17.5px;
          border-radius: 17.5px;
}

.hero-left__rewards--img {
  position: absolute;
  z-index: 1;
  left: 10px;
  width: 20px;
  height: 20px;
}

@media (max-width: 1041px) {
  .hero-right__img {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 801px) {
  .hero-right__img {
    width: 240px;
  }
}

.video-link {
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  color: #2500f9;
  margin-left: 20px;
}

.advanced__single {
  width: 100%;
  height: auto;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.advanced__single-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px 100px;
  padding-bottom: 100px;
}

@media (max-width: 769px) {
  .advanced__single-wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 50px 50px;
    padding-bottom: 50px;
  }
}

.section__info {
  padding-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 769px) {
  .section__info {
    padding-top: 50px;
  }
}

.section__info-title {
  width: 540px;
  text-align: center;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #242f51;
  margin: 0;
  padding-bottom: 40px;
}

@media (max-width: 769px) {
  .section__info {
    padding-top: 50px;
  }
}

.section__info-text {
  width: 645px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #61677b;
  padding-bottom: 80px;
}

.accordion {
  padding-bottom: 100px;
}

.accordion__item {
  background-color: #f5f7fa;
  padding: 20px 50px;
  margin-bottom: 10px;
}

.accordion__item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordion__item-body--content {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #616368;
}

@media (max-width: 769px) {
  .accordion__item-body--content {
    font-size: 14px;
  }
}

.accordion__item-header {
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
  color: #242f51;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

@media (max-width: 769px) {
  .accordion__item-header {
    font-size: 16px;
  }
}

.accordion__item-header::after {
  content: "\002B";
  position: absolute;
  right: 0;
  font-size: 36px;
  line-height: 58px;
  font-weight: 400;
  color: #242f51;
}

@media (max-width: 769px) {
  .accordion__item-header::after {
    font-size: 30px;
    line-height: 46px;
  }
}

.accordion__item-header,
.accordion__item-header .active::after {
  content: "\002D";
}
