.accordion {
    padding-bottom: 100px;
    &-item {
        background-color: $accordion-bgcolor;
        padding: 20px 50px;
        margin-bottom: 10px;
        &-body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            &__content {
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
                color: $accordion-text-color;
                @media(max-width: 769px) {
                    font-size: 14px;
                }
            }
        }
        &__header {
            font-size: 20px;
            line-height: 58px;
            font-weight: 600;
            color: $color-logo-text;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            @media(max-width: 769px) {
                font-size: 16px;
            }
            &::after {
                content: "\002B";
                position: absolute;
                right: 0;
                font-size: 36px;
                line-height: 58px;
                font-weight: 400;
                color: $color-logo-text;
                @media(max-width: 769px) {
                    font-size: 30px;
                    line-height: 46px;
                }
            }
            & .active::after {
                content: "\002D";
            }
        }
    }
}